<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if specific_hero == None %}
<h1>List of Super Heroes</h1>
{% endif %}

{% if specific_hero != None %}
    <h1>{{specific_hero.name}}</h1>
    <ul>
          <li>Alter Ego: {{specific_hero.alter_ego}}</li>
          <li>Primary Ability: {{specific_hero.primary_ability}}</li>
          <li>Secondary Ability: {{specific_hero.secondary_ability}}</li>
          <li>Catchphrase:  "{{specific_hero.catchphrase}}"</li>
    </ul>
{% endif %}
<ul>
    {% for hero in all_heroes %}
    <li><h2>{{hero.name}}</h2><a href="{% url 'heroes:detail' hero.id %}">See more info</a></li>
    {% endfor %}
</ul>
</body>
</html>